<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <main>
        <h1>Gallery</h1>
        <div class="photo photo1"></div>
        <div class="photo photo2"></div>
        <div class="photo photo3"></div>
        <div class="photo photo4"></div>
        <div class="photo photo5"></div>
        <div class="photo photo6"></div>
        <div class="photo photo7"></div>
        <div class="photo photo8"></div>
        <div class="photo photo9"></div>
        <div class="photo photo10"></div>
        <div class="photo photo11"></div>
        <div class="photo photo12"></div>
    </main>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum velit cupiditate harum eveniet ex vero beatae aperiam in ullam officiis non, dolor asperiores aut provident tempora unde laudantium magni sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum porro deserunt iste nam, fugiat at harum voluptate quidem, qui fugit commodi, minus dolor! Repellendus velit, praesentium consequuntur eveniet repellat accusantium!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consequuntur atque eveniet quisquam esse quis beatae soluta. Vitae aspernatur ut quo quae ratione odit harum inventore adipisci nemo. Dolorem, corporis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, at! Incidunt distinctio rem at quae ab, non tenetur repellendus suscipit cum eveniet asperiores dolore aliquam ipsum, officiis dolores. Odit, magnam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quidem quibusdam odio sint, facilis, vel eligendi, quo autem repellendus ut obcaecati perspiciatis unde porro quae repellat blanditiis eveniet recusandae harum.</p>
</body>
</html>